<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Welcome to FTC Robotics Webpage<br />
       </h1>
        <p>It’s way more than building robots. </p>
      </header>
      <p>FIRST Tech Challenge teams (10+ members, grades 7-12) are challenged to design, build, program, and operate robots to compete in a head-to-head challenge in an alliance format. Participants call it “the hardest fun you’ll ever have!”.</p>
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
